/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 1vw;
}

header {
    text-align: center;
    padding: 1vw;
}

main {
    margin: 2vw;
}

nav li {
    list-style: none;
    margin-bottom: .5vw;
}

main section {
    display: flex;
    gap: 1%;
    padding-bottom: 1vw;
}

/* Estilos para la primera fila de elementos */
.primera-seccion nav {
    flex-basis: 10%;
}

.primera-seccion figure:nth-child(2) {
    flex-basis: 60%;
}

.primera-seccion figure:nth-child(2) img {
    width: 35%;
}

.primera-seccion figure:nth-child(3) {
    flex-basis: 30%;
}

figure {
    border: 1px solid #000;
    border-radius: .3vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

figure img {
    width: 50%;
}

/* Estilos para la segunda fila de elementos */
.segunda-seccion figure:nth-child(1) {
    border: 0;
    flex-basis: 10%;
}

.segunda-seccion figure:nth-child(2) {
    flex-basis: 30%;
}

.segunda-seccion figure:nth-child(3) {
    flex-basis: 30%;
}

.segunda-seccion figure:nth-child(4) {
    flex-basis: 30%;
}

/* Estilos para el footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6vw 2vw;
}

footer .redes i {
    font-size: 1.4vw;
    margin-left: .5vw;
}